[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Task5
Exec=/usr/bin/ru.auroraos.Task5
Name=Task5
Name[ru]=Задание 5

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Task5
ExecDBus=/usr/bin/ru.auroraos.Task5
