[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Task3
Exec=/usr/bin/ru.auroraos.Task3
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Task3
ExecDBus=/usr/bin/ru.auroraos.Task3
